/* Navigation Menu */

.nav-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.nav-menu__item {
  margin-right: 32px;
}
.nav-menu__item:last-child {
  margin: 0;
}

.nav-menu__link {
  font-weight: 500;
  color: #000c2d;
  text-decoration: none;
  line-height: 18px;
}
.nav-menu__link:hover {
  text-decoration: underline;
}
.nav-menu__link:active {
  opacity: 0.3;
}

/* Button */

.button {
  display: inline-block;
  padding: 12px 23px;
  text-decoration: none;
  color: #2f70fe;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  border: 1px solid #2f70fe;
}
.button:hover {
  text-decoration: underline;
}
.button:active {
  opacity: 0.3;
}

/* Info Card */

.info-card {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-card_reversed {
  flex-direction: row-reverse;
}

.info-card__wrapper {
  max-width: 410px;
}

.info-card__title {
  max-width: 380px;
  margin: 0;
  margin-bottom: 24px;
  font-size: 28px;
  font-weight: 700;
  line-height: 37px;
  color: #181818;
}

.info-card__text {
  max-width: 410px;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 24px;
}

.info-card__link {
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;
  color: #2f70fe;
  position: relative;
  padding-right: 8px;
}
.info-card__link:hover {
  text-decoration: underline;
}
.info-card__link:active {
  opacity: 0.3;
}

.info-card__link::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background-image: url('../img/arrow.svg');
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: calc(50% - 12px);
  right: -24px;
}
